@import "tailwindcss";


/*to maek the scrren shake*/
@keyframes screen-shake {
    0% { transform: translate(0px, 0px); }
    20% { transform: translate(-10px, 2px); }
    40% { transform: translate(10px, -2px); }
    60% { transform: translate(-10px, 2px); }
    80% { transform: translate(10px, -2px); }
    100% { transform: translate(0px, 0px); }
}

.shake {
    animation: screen-shake 0.3s ease;
}
